/* @media screen and (max-width: 1800px) { */
    #for-whom {
        /* background-color: rgb(255, 255, 204); */
        /* margin-top: -100px; */
        height: calc(100vh - 56px);
        /* min-height: 1100px; */
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .for-whom-item {
        min-width: 324px;
        display: flex;
        flex-wrap: wrap;
    }

    .item-3 {
        width: 100vw;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: space-evenly;
    }

    .item-1 {
        width: 50vw;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: space-evenly;
        background-color: #ffc100;
    }

    .item-2 {
        width: 50vw;
        flex-direction: column;
        justify-content: space-between;
        /* align-content: space-evenly; */
    }

    .item-2 p {
        padding: 0 15%;
        text-align: left;
        font-size: 20px;
        font-weight: lighter;
        line-height: 2;
        color: rgb(46, 46, 46);
    }

    .card {
        box-shadow: 5px 5px 18px #888888;
        width:12vw;
        height: 12vw;
        max-height: 12vw;
        min-width: 80px;
        background-color: #ffc100;
        min-height: 80px;

        font-size: 26px;
        font-weight: 400;
        color: black;
        border-radius: 50%;
        font-family: 'Roboto Mono', monospace;
        justify-content: space-evenly;
        margin: 0 3vw;
        text-decoration: none;
    }

    .card:hover {
        text-decoration: none;
        transform: translateX(5px) translateY(-5px);
        transition: 0.1s ease-out;
    }

    .card p {
        position: relative;
        text-align: left;
    }

    .card #p-1 {
        min-width: 400px;
        top: -20%;
        left: -20%;
    }

    .card #p-2 {
        min-width: 400px;
        top: 15%;
        left: -30%;
    }

    .card #p-3 {
        min-width: 350px;
        top: -20%;
        left: -20%;
    }

    .highlight {
        /* background-color: white; */
    }

    .for-whom-list {
        margin: 0;
        padding: 0 50px;
        align-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 50vw;
        justify-content: space-evenly;
        margin-bottom: 5%;
    }

    .for-whom-option {
        border: 2px solid  black;
        border-radius: 50px;
        width: 200px;
        height: 100px;
        margin: 15px 0;
        padding: 5px 30px;
        cursor: pointer;

        font-size: 20px;

        font-family: 'Play', sans-serif;
        font-weight: bold;
        line-height: 1;
        color: black;
        list-style: none;

        display: flex;
        text-align: left;
        align-items: center;
        /* justify-content: space-evenly; */
    }

    #iframe {
        --iframe-size-base: 45vw;
        width: var(--iframe-size-base);
        height:calc(var(--iframe-size-base)/1.7);
        max-width: 900px;
        max-height: 500px;
        outline-width: 0;
    }
/* } */

@media screen and (max-width: 1500px) {
    #for-whom {
       background-color: yellow;
    }

    .item-3 {
        padding: 5% 0;
    }

    .card {
        font-size: 22px;
    }

    .card #p-1 {
        min-width: 300px;
        top: -20%;
        left: -20%;
    }

    .card #p-2 {
        min-width: 300px;
        top: 15%;
        left: -30%;
    }

    .card #p-3 {
        min-width:250px;
        top: -20%;
        left: -20%;
    }

    .for-whom-option {
        width: 150px;
        height: 80px;
        font-size: 17px;
    }

    .item-2 p {
        font-size: 18px;
    }
}

@media screen and (max-width: 1200px) {
    #for-whom {
       background-color: rgb(246, 255, 246);
    }

    .item-3 {
        padding: 5% 0;
    }

    .card {
        font-size: 20px;
        width:15vw;
        height: 15vw;
        max-height: 15vw;
    }

    .card #p-1 {
        min-width: 300px;
        top: -30%;
        left: -20%;
    }

    .card #p-2 {
        min-width: 300px;
        top: 40%;
        left: -50%;
    }

    .card #p-3 {
        min-width:250px;
        top: -20%;
        left: -40%;
    }

    .item-2 p {
        font-size: 15px;
    }

    .for-whom-list {
        padding: 0 25px;
    }

    .for-whom-option {
        width: 130px;
        height: 70px;
        font-size: 14px;
        padding: 5px 16px 5px 16px;
        margin: 0;
    }
}

@media screen and (max-width: 900px) {
    #for-whom {
       background-color: pink;
       flex-direction: column;
       height: fit-content;
    }

    .item-3 {
        order: 1;
        padding: 5% 0;
        width:100vw;
    }

    .item-1 {
        order: 2;
        width:100vw;
    }
    .item-2 {
        order: 3;
        width:100vw;
    }

    .card {
        font-size: 16px;
        width:17vw;
        height: 17vw;
        max-height: 17vw;
    }

    .card #p-1 {
        min-width: 220px;
        top: -20%;
        left: -5%;
    }

    .card #p-2 {
        min-width: 200px;
        top: 40%;
        left: -50%;
    }

    .card #p-3 {
        min-width:200px;
        top: -20%;
        left: -40%;
    }

    .item-2 p {
        font-size: 13px;
    }

    .for-whom-list {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        margin: 0;
        padding-bottom: 0;
        padding-left: 15%;
    }

    .for-whom-option {
        width: 150px;
        height: 70px;
        font-size: 17px;
        margin: 0;
    }

    #iframe {
        --iframe-size-base: 90vw;
        width: var(--iframe-size-base);
        height:calc(var(--iframe-size-base)/1.7);
        margin: 5%;
    }
}

@media screen and (max-width: 650px) {
    #for-whom {
       background-color: violet;
    }
}
