/* @media screen and (max-width: 1800px) { */
    #for-whom {
        background-color: yellowgreen;
    }

    #for-whom {
        height: calc(100vh - 56px);
        min-height: 1100px;
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .for-whom-item {
        width: 50vw;
        min-width: 324px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .item-1 {
        justify-content: space-evenly;
        align-content: space-evenly;
        background-color: #3E78FE;
    }
    .item-2 {
        justify-content: space-evenly;
        align-content: space-evenly;
    }

    .item-2 p {
        padding: 0 15%;
        text-align: left;
        font-size: 26px;
        font-weight: lighter;
        line-height: 2;
        color: rgb(46, 46, 46);
    }

    .card {
        box-shadow: 5px 5px 18px #888888;
        width:7vw;
        height: 7vw;
        min-width: 80px;
        background-color: #ffc100;
        min-height: 80px;
        max-height: 7vw;

        font-size: 18px;
        font-weight: 400;
        color: black;
        border-radius: 50%;
        font-family: 'Roboto Mono', monospace;
        justify-content: space-evenly;
        margin: 0 3vw;
        text-decoration: none;
    }

    .card:hover {
        text-decoration: none;
        transform: translateX(5px) translateY(-5px);
        transition: 0.1s ease-out;
    }

    .card p {
        position: relative;
        text-align: left;
    }

    .card #p-1 {
        min-width: 300px;
        top: -30%;
        left: -10%;
    }

    .card #p-2 {
        min-width: 250px;
        top: 15%;
        left: -30%;
    }

    .card #p-3 {
        min-width: 200px;
        top: -20%;
        left: -20%;
    }

    .highlight {
        background-color: white;
    }

    .for-whom-list {
        margin: 0;
        padding: 0 50px;
        align-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 50vw;
        justify-content: space-evenly;
    }

    .for-whom-option {
        border: 2px solid  black;
        border-radius: 50px;
        width: 200px;
        height: 100px;
        margin: 15px 0;
        padding: 5px 30px;
        cursor: pointer;

        font-size: 20px;

        font-family: 'Play', sans-serif;
        font-weight: bold;
        line-height: 1;
        color: black;
        list-style: none;

        display: flex;
        text-align: left;
        align-items: center;
        justify-content: space-evenly;
    }

    #iframe {
        --iframe-size-base: 45vw;
        width: var(--iframe-size-base);
        height:calc(var(--iframe-size-base)/1.7);
        max-width: 900px;
        max-height: 500px;
        display: block;
        position: relative;
        left: -2.5vw;
        outline-width: 0;
    }
/* } */

@media screen and (max-width: 1500px) {
    #for-whom {
        background-color: goldenrod;
    }

    .item-2 p {
        font-size: 22px;
    }

    .for-whom-option {
        width: 150px;
        font-size: 18px;
        font-weight: 300;
    }

    .card {
        width:10vw;
        height: 10vw;
        font-size: 16px;
        max-height: 10vw;
    }

    .card p {
        position: relative;
        text-align: left;
    }

    .card #p-1 {
        min-width: 200px;
        top: -20%;
        left: 30%;
    }

    .card #p-2 {
        min-width: 200px;
        top: 20%;
        left: -5%;
    }

    .card #p-3 {
        min-width: 180px;
        top: -10%;
        left: -10%;
    }

}

@media screen and (max-width: 1200px) {
    #for-whom {
        background-color: aquamarine;
    }
    .for-whom-list {
        flex-direction: column;
        margin: 0;
        padding: 0 80px;
        align-content: flex-start;
    }

    .for-whom-option {
        width: 220px;
        font-size: 20px;
        margin: -4px 0;
    }

    .card {
        width:14vw;
        height: 14vw;
        max-height: 14vw;
        font-size: 18px;
    }

    .card #p-1 {
        min-width: 200px;
        top: -30%;
        left: -10%;
        z-index: 2;
    }

    .card #p-2 {
        min-width: 200px;
        top: 40%;
        left: -40%;
    }

    .card #p-3 {
        min-width: 200px;
        top: -20%;
        left: -20%;
    }

    #iframe {
        --iframe-size-base: 70vw;
        border: 50px solid #3E78FE;
    }
}

@media screen and (max-width: 850px) {
    #for-whom {
        background-color: pink;
    }

    .item-1 {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 50px;
    }
    .card {
        width:20vw;
        height: 20vw;
        max-height: 20vw;
        font-size: 16px;
        margin: 20px 0;
    }

    .card #p-1 {
        min-width: 150px;
        top: -10%;
        left: -10%;
    }

    .card #p-2 {
        min-width: 200px;
        top: -10%;
        left: -10%;
    }

    .card #p-3 {
        min-width: 200px;
        top: -10%;
        left: -10%;
    }

    .item-2 {
        justify-content: flex-start;
        align-content: flex-start;
        padding-top: 50px;
        padding-left: 0;
    }

    .item-2 p {
        font-size: 16px;
        padding-top:30px;
    }

    .for-whom-list {
        padding: 10px 50px;
        align-content: flex-start;
        flex-direction: column;
    }

    .for-whom-option {
        width: 200px;
        height: 50px;
        font-size: 18px;
        font-weight: 300;
    }
    #iframe {
        --iframe-size-base: 70vw;
        border: 0;
        width: 80vw;
        height: 45vw;
        position: relative;
        left:-50%;
        top: 5%;
    }
}

@media screen and (max-width:700px) {
    #iframe {
        left:-50%;
        top: 10%;
    }
}

@media screen and (max-width: 650px) {
    #for-whom {
        background-color: yellow;
    }

    .for-whom-item {
        width: 100vw;
        padding-top: 0;
        flex-direction: column;
    }

    .item-1 {
        width: 100vw;
        padding: 0;
        justify-content: space-evenly;
        align-content: space-evenly;
        background-color: #3E78FE;
    }

    .item-2 {
        width: 100vw;
        justify-content: space-evenly;
        align-content: space-evenly;
    }

    .item-2 p {
        font-size: 14px;
    }


    .card {
        width:40vw;
        height: 40vw;
        max-height: 40vw;
        margin: 5vw 0;
        font-size: 18px;
        font-weight: 400;

        justify-content: space-evenly;
        text-decoration: none;
    }

    .card p {
        position: relative;
        text-align: left;
    }

    .card #p-1 {
        min-width: 200px;
        top: 0;
        left: -20%;
    }

    .card #p-2 {
        min-width: 200px;
        top: 0;
        left: -20%;
    }

    .card #p-3 {
        min-width: 200px;
        top: 0;
        left: -20%;
    }



    .for-whom-list {
        margin: 0;
        padding: 0;
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        align-content: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .for-whom-option {
        width: 100px;
        height: 50px;
        font-size: 12px;
        margin: 0 5px;
    }

    #iframe {
        order: -1;
        margin: 0;
        --iframe-size-base: 100vw;
        width: var(--iframe-size-base);
        height:calc(var(--iframe-size-base)/1.7);

        position: relative;
        left: 0;
        top: 2%;
        outline-width: 0;
    }
}


