.App-header {
    background-color: #3E78FE;
    color: #ffc100;
  }

  .header-item {
    display: inline-block;
    margin: 5px;
  }

  #header-text-capital {
    font-size: 16px;
    font-weight: bold;
    color: #ffc100;
    text-transform: uppercase;
  }

  .header-text-small {
    font-size: 8px;
  }

  .header-text-title {
    font-size: 60px;
    padding: 5px 0;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-self: center;
    line-height: 80px;
  }
  .header-text-title p {
    color: #ffc100;
    display: inline;
  }

  .header-text-subtitle {
    font-size: 15px;
    text-transform: uppercase;
  }